lab3-5/LibraryClient/LibraryClient/Service References/Position/Position.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Position" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Position/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Position/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SPosition_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="SPosition_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SPosition_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="SPosition_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="SPosition_get_P_Name_InputMessage">
    <wsdl:part name="parameters" element="tns:get_P_Name" />
  </wsdl:message>
  <wsdl:message name="SPosition_get_P_Name_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_P_NameResponse" />
  </wsdl:message>
  <wsdl:message name="SPosition_set_P_Name_InputMessage">
    <wsdl:part name="parameters" element="tns:set_P_Name" />
  </wsdl:message>
  <wsdl:message name="SPosition_set_P_Name_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_P_NameResponse" />
  </wsdl:message>
  <wsdl:message name="SPosition_get_P_Salary_InputMessage">
    <wsdl:part name="parameters" element="tns:get_P_Salary" />
  </wsdl:message>
  <wsdl:message name="SPosition_get_P_Salary_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_P_SalaryResponse" />
  </wsdl:message>
  <wsdl:message name="SPosition_set_P_Salary_InputMessage">
    <wsdl:part name="parameters" element="tns:set_P_Salary" />
  </wsdl:message>
  <wsdl:message name="SPosition_set_P_Salary_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_P_SalaryResponse" />
  </wsdl:message>
  <wsdl:message name="SPosition_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="SPosition_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SPosition_toString_InputMessage">
    <wsdl:part name="parameters" element="tns:toString" />
  </wsdl:message>
  <wsdl:message name="SPosition_toString_OutputMessage">
    <wsdl:part name="parameters" element="tns:toStringResponse" />
  </wsdl:message>
  <wsdl:message name="SPosition_get_InputMessage">
    <wsdl:part name="parameters" element="tns:get" />
  </wsdl:message>
  <wsdl:message name="SPosition_get_OutputMessage">
    <wsdl:part name="parameters" element="tns:getResponse" />
  </wsdl:message>
  <wsdl:message name="SPosition_get_s_InputMessage">
    <wsdl:part name="parameters" element="tns:get_s" />
  </wsdl:message>
  <wsdl:message name="SPosition_get_s_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_sResponse" />
  </wsdl:message>
  <wsdl:message name="SPosition_getByName_InputMessage">
    <wsdl:part name="parameters" element="tns:getByName" />
  </wsdl:message>
  <wsdl:message name="SPosition_getByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="SPosition">
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/SPosition/Update" message="tns:SPosition_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SPosition/UpdateResponse" message="tns:SPosition_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/SPosition/Insert" message="tns:SPosition_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SPosition/InsertResponse" message="tns:SPosition_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_P_Name">
      <wsdl:input wsaw:Action="http://tempuri.org/SPosition/get_P_Name" message="tns:SPosition_get_P_Name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SPosition/get_P_NameResponse" message="tns:SPosition_get_P_Name_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_P_Name">
      <wsdl:input wsaw:Action="http://tempuri.org/SPosition/set_P_Name" message="tns:SPosition_set_P_Name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SPosition/set_P_NameResponse" message="tns:SPosition_set_P_Name_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_P_Salary">
      <wsdl:input wsaw:Action="http://tempuri.org/SPosition/get_P_Salary" message="tns:SPosition_get_P_Salary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SPosition/get_P_SalaryResponse" message="tns:SPosition_get_P_Salary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_P_Salary">
      <wsdl:input wsaw:Action="http://tempuri.org/SPosition/set_P_Salary" message="tns:SPosition_set_P_Salary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SPosition/set_P_SalaryResponse" message="tns:SPosition_set_P_Salary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/SPosition/Delete" message="tns:SPosition_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SPosition/DeleteResponse" message="tns:SPosition_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="toString">
      <wsdl:input wsaw:Action="http://tempuri.org/SPosition/toString" message="tns:SPosition_toString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SPosition/toStringResponse" message="tns:SPosition_toString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input wsaw:Action="http://tempuri.org/SPosition/get" message="tns:SPosition_get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SPosition/getResponse" message="tns:SPosition_get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_s">
      <wsdl:input wsaw:Action="http://tempuri.org/SPosition/get_s" message="tns:SPosition_get_s_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SPosition/get_sResponse" message="tns:SPosition_get_s_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getByName">
      <wsdl:input wsaw:Action="http://tempuri.org/SPosition/getByName" message="tns:SPosition_getByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SPosition/getByNameResponse" message="tns:SPosition_getByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_SPosition" type="tns:SPosition">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/SPosition/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/SPosition/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_P_Name">
      <soap:operation soapAction="http://tempuri.org/SPosition/get_P_Name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_P_Name">
      <soap:operation soapAction="http://tempuri.org/SPosition/set_P_Name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_P_Salary">
      <soap:operation soapAction="http://tempuri.org/SPosition/get_P_Salary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_P_Salary">
      <soap:operation soapAction="http://tempuri.org/SPosition/set_P_Salary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/SPosition/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toString">
      <soap:operation soapAction="http://tempuri.org/SPosition/toString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="http://tempuri.org/SPosition/get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_s">
      <soap:operation soapAction="http://tempuri.org/SPosition/get_s" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByName">
      <soap:operation soapAction="http://tempuri.org/SPosition/getByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Position">
    <wsdl:port name="BasicHttpBinding_SPosition" binding="tns:BasicHttpBinding_SPosition">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Position/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>