lab3-5/LibraryClient/LibraryClient/Service References/Journal/Journal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Journal" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LibraryServer/Journal/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LibraryServer/Journal/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServJournal_get_MyLibrarian_InputMessage">
    <wsdl:part name="parameters" element="tns:get_MyLibrarian" />
  </wsdl:message>
  <wsdl:message name="ServJournal_get_MyLibrarian_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_MyLibrarianResponse" />
  </wsdl:message>
  <wsdl:message name="ServJournal_set_MyLibrarian_InputMessage">
    <wsdl:part name="parameters" element="tns:set_MyLibrarian" />
  </wsdl:message>
  <wsdl:message name="ServJournal_set_MyLibrarian_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_MyLibrarianResponse" />
  </wsdl:message>
  <wsdl:message name="ServJournal_get_MyReader_InputMessage">
    <wsdl:part name="parameters" element="tns:get_MyReader" />
  </wsdl:message>
  <wsdl:message name="ServJournal_get_MyReader_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_MyReaderResponse" />
  </wsdl:message>
  <wsdl:message name="ServJournal_set_MyReader_InputMessage">
    <wsdl:part name="parameters" element="tns:set_MyReader" />
  </wsdl:message>
  <wsdl:message name="ServJournal_set_MyReader_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_MyReaderResponse" />
  </wsdl:message>
  <wsdl:message name="ServJournal_get_MyBook_InputMessage">
    <wsdl:part name="parameters" element="tns:get_MyBook" />
  </wsdl:message>
  <wsdl:message name="ServJournal_get_MyBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_MyBookResponse" />
  </wsdl:message>
  <wsdl:message name="ServJournal_set_MyBook_InputMessage">
    <wsdl:part name="parameters" element="tns:set_MyBook" />
  </wsdl:message>
  <wsdl:message name="ServJournal_set_MyBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_MyBookResponse" />
  </wsdl:message>
  <wsdl:message name="ServJournal_get_Number_of_book_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Number_of_book" />
  </wsdl:message>
  <wsdl:message name="ServJournal_get_Number_of_book_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Number_of_bookResponse" />
  </wsdl:message>
  <wsdl:message name="ServJournal_set_Number_of_book_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Number_of_book" />
  </wsdl:message>
  <wsdl:message name="ServJournal_set_Number_of_book_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_Number_of_bookResponse" />
  </wsdl:message>
  <wsdl:message name="ServJournal_get_Date_of_issue_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Date_of_issue" />
  </wsdl:message>
  <wsdl:message name="ServJournal_get_Date_of_issue_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Date_of_issueResponse" />
  </wsdl:message>
  <wsdl:message name="ServJournal_set_Date_of_issue_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Date_of_issue" />
  </wsdl:message>
  <wsdl:message name="ServJournal_set_Date_of_issue_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_Date_of_issueResponse" />
  </wsdl:message>
  <wsdl:message name="ServJournal_getAllJournals_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllJournals" />
  </wsdl:message>
  <wsdl:message name="ServJournal_getAllJournals_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllJournalsResponse" />
  </wsdl:message>
  <wsdl:message name="ServJournal_SaveJournal_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveJournal" />
  </wsdl:message>
  <wsdl:message name="ServJournal_SaveJournal_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveJournalResponse" />
  </wsdl:message>
  <wsdl:message name="ServJournal_DeleteJournal_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJournal" />
  </wsdl:message>
  <wsdl:message name="ServJournal_DeleteJournal_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteJournalResponse" />
  </wsdl:message>
  <wsdl:message name="ServJournal_UpdateJournal_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJournal" />
  </wsdl:message>
  <wsdl:message name="ServJournal_UpdateJournal_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateJournalResponse" />
  </wsdl:message>
  <wsdl:portType name="ServJournal">
    <wsdl:operation name="get_MyLibrarian">
      <wsdl:input wsaw:Action="http://tempuri.org/ServJournal/get_MyLibrarian" message="tns:ServJournal_get_MyLibrarian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServJournal/get_MyLibrarianResponse" message="tns:ServJournal_get_MyLibrarian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_MyLibrarian">
      <wsdl:input wsaw:Action="http://tempuri.org/ServJournal/set_MyLibrarian" message="tns:ServJournal_set_MyLibrarian_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServJournal/set_MyLibrarianResponse" message="tns:ServJournal_set_MyLibrarian_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_MyReader">
      <wsdl:input wsaw:Action="http://tempuri.org/ServJournal/get_MyReader" message="tns:ServJournal_get_MyReader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServJournal/get_MyReaderResponse" message="tns:ServJournal_get_MyReader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_MyReader">
      <wsdl:input wsaw:Action="http://tempuri.org/ServJournal/set_MyReader" message="tns:ServJournal_set_MyReader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServJournal/set_MyReaderResponse" message="tns:ServJournal_set_MyReader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_MyBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ServJournal/get_MyBook" message="tns:ServJournal_get_MyBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServJournal/get_MyBookResponse" message="tns:ServJournal_get_MyBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_MyBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ServJournal/set_MyBook" message="tns:ServJournal_set_MyBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServJournal/set_MyBookResponse" message="tns:ServJournal_set_MyBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Number_of_book">
      <wsdl:input wsaw:Action="http://tempuri.org/ServJournal/get_Number_of_book" message="tns:ServJournal_get_Number_of_book_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServJournal/get_Number_of_bookResponse" message="tns:ServJournal_get_Number_of_book_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Number_of_book">
      <wsdl:input wsaw:Action="http://tempuri.org/ServJournal/set_Number_of_book" message="tns:ServJournal_set_Number_of_book_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServJournal/set_Number_of_bookResponse" message="tns:ServJournal_set_Number_of_book_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Date_of_issue">
      <wsdl:input wsaw:Action="http://tempuri.org/ServJournal/get_Date_of_issue" message="tns:ServJournal_get_Date_of_issue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServJournal/get_Date_of_issueResponse" message="tns:ServJournal_get_Date_of_issue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Date_of_issue">
      <wsdl:input wsaw:Action="http://tempuri.org/ServJournal/set_Date_of_issue" message="tns:ServJournal_set_Date_of_issue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServJournal/set_Date_of_issueResponse" message="tns:ServJournal_set_Date_of_issue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllJournals">
      <wsdl:input wsaw:Action="http://tempuri.org/ServJournal/getAllJournals" message="tns:ServJournal_getAllJournals_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServJournal/getAllJournalsResponse" message="tns:ServJournal_getAllJournals_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveJournal">
      <wsdl:input wsaw:Action="http://tempuri.org/ServJournal/SaveJournal" message="tns:ServJournal_SaveJournal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServJournal/SaveJournalResponse" message="tns:ServJournal_SaveJournal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteJournal">
      <wsdl:input wsaw:Action="http://tempuri.org/ServJournal/DeleteJournal" message="tns:ServJournal_DeleteJournal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServJournal/DeleteJournalResponse" message="tns:ServJournal_DeleteJournal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateJournal">
      <wsdl:input wsaw:Action="http://tempuri.org/ServJournal/UpdateJournal" message="tns:ServJournal_UpdateJournal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServJournal/UpdateJournalResponse" message="tns:ServJournal_UpdateJournal_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ServJournal" type="tns:ServJournal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_MyLibrarian">
      <soap:operation soapAction="http://tempuri.org/ServJournal/get_MyLibrarian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_MyLibrarian">
      <soap:operation soapAction="http://tempuri.org/ServJournal/set_MyLibrarian" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_MyReader">
      <soap:operation soapAction="http://tempuri.org/ServJournal/get_MyReader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_MyReader">
      <soap:operation soapAction="http://tempuri.org/ServJournal/set_MyReader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_MyBook">
      <soap:operation soapAction="http://tempuri.org/ServJournal/get_MyBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_MyBook">
      <soap:operation soapAction="http://tempuri.org/ServJournal/set_MyBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Number_of_book">
      <soap:operation soapAction="http://tempuri.org/ServJournal/get_Number_of_book" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Number_of_book">
      <soap:operation soapAction="http://tempuri.org/ServJournal/set_Number_of_book" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Date_of_issue">
      <soap:operation soapAction="http://tempuri.org/ServJournal/get_Date_of_issue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Date_of_issue">
      <soap:operation soapAction="http://tempuri.org/ServJournal/set_Date_of_issue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllJournals">
      <soap:operation soapAction="http://tempuri.org/ServJournal/getAllJournals" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveJournal">
      <soap:operation soapAction="http://tempuri.org/ServJournal/SaveJournal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteJournal">
      <soap:operation soapAction="http://tempuri.org/ServJournal/DeleteJournal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateJournal">
      <soap:operation soapAction="http://tempuri.org/ServJournal/UpdateJournal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Journal">
    <wsdl:port name="BasicHttpBinding_ServJournal" binding="tns:BasicHttpBinding_ServJournal">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LibraryServer/Journal/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>