lab3-5/LibraryClient/LibraryClient/Service References/Genre/Genre.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Genre" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LibraryServer/Genre/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LibraryServer/Genre/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServGenre_get_Name_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Name" />
  </wsdl:message>
  <wsdl:message name="ServGenre_get_Name_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_NameResponse" />
  </wsdl:message>
  <wsdl:message name="ServGenre_set_Name_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Name" />
  </wsdl:message>
  <wsdl:message name="ServGenre_set_Name_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_NameResponse" />
  </wsdl:message>
  <wsdl:message name="ServGenre_get_Discription_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Discription" />
  </wsdl:message>
  <wsdl:message name="ServGenre_get_Discription_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_DiscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ServGenre_set_Discription_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Discription" />
  </wsdl:message>
  <wsdl:message name="ServGenre_set_Discription_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_DiscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ServGenre_getAllGenres_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllGenres" />
  </wsdl:message>
  <wsdl:message name="ServGenre_getAllGenres_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllGenresResponse" />
  </wsdl:message>
  <wsdl:message name="ServGenre_SaveGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveGenre" />
  </wsdl:message>
  <wsdl:message name="ServGenre_SaveGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveGenreResponse" />
  </wsdl:message>
  <wsdl:message name="ServGenre_DeleteGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGenre" />
  </wsdl:message>
  <wsdl:message name="ServGenre_DeleteGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGenreResponse" />
  </wsdl:message>
  <wsdl:message name="ServGenre_UpdateGenre_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGenre" />
  </wsdl:message>
  <wsdl:message name="ServGenre_UpdateGenre_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGenreResponse" />
  </wsdl:message>
  <wsdl:portType name="ServGenre">
    <wsdl:operation name="get_Name">
      <wsdl:input wsaw:Action="http://tempuri.org/ServGenre/get_Name" message="tns:ServGenre_get_Name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServGenre/get_NameResponse" message="tns:ServGenre_get_Name_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Name">
      <wsdl:input wsaw:Action="http://tempuri.org/ServGenre/set_Name" message="tns:ServGenre_set_Name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServGenre/set_NameResponse" message="tns:ServGenre_set_Name_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Discription">
      <wsdl:input wsaw:Action="http://tempuri.org/ServGenre/get_Discription" message="tns:ServGenre_get_Discription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServGenre/get_DiscriptionResponse" message="tns:ServGenre_get_Discription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Discription">
      <wsdl:input wsaw:Action="http://tempuri.org/ServGenre/set_Discription" message="tns:ServGenre_set_Discription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServGenre/set_DiscriptionResponse" message="tns:ServGenre_set_Discription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllGenres">
      <wsdl:input wsaw:Action="http://tempuri.org/ServGenre/getAllGenres" message="tns:ServGenre_getAllGenres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServGenre/getAllGenresResponse" message="tns:ServGenre_getAllGenres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/ServGenre/SaveGenre" message="tns:ServGenre_SaveGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServGenre/SaveGenreResponse" message="tns:ServGenre_SaveGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/ServGenre/DeleteGenre" message="tns:ServGenre_DeleteGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServGenre/DeleteGenreResponse" message="tns:ServGenre_DeleteGenre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGenre">
      <wsdl:input wsaw:Action="http://tempuri.org/ServGenre/UpdateGenre" message="tns:ServGenre_UpdateGenre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServGenre/UpdateGenreResponse" message="tns:ServGenre_UpdateGenre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ServGenre" type="tns:ServGenre">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_Name">
      <soap:operation soapAction="http://tempuri.org/ServGenre/get_Name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Name">
      <soap:operation soapAction="http://tempuri.org/ServGenre/set_Name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Discription">
      <soap:operation soapAction="http://tempuri.org/ServGenre/get_Discription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Discription">
      <soap:operation soapAction="http://tempuri.org/ServGenre/set_Discription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllGenres">
      <soap:operation soapAction="http://tempuri.org/ServGenre/getAllGenres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveGenre">
      <soap:operation soapAction="http://tempuri.org/ServGenre/SaveGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGenre">
      <soap:operation soapAction="http://tempuri.org/ServGenre/DeleteGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGenre">
      <soap:operation soapAction="http://tempuri.org/ServGenre/UpdateGenre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Genre">
    <wsdl:port name="BasicHttpBinding_ServGenre" binding="tns:BasicHttpBinding_ServGenre">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LibraryServer/Genre/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>