lab3-5/LibraryClient/LibraryClient/Service References/Arrangement/Arrangement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Arrangement" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LibraryServer/Arrangement/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LibraryServer/Arrangement/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServArrangement_get_Place_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Place" />
  </wsdl:message>
  <wsdl:message name="ServArrangement_get_Place_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_PlaceResponse" />
  </wsdl:message>
  <wsdl:message name="ServArrangement_set_Place_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Place" />
  </wsdl:message>
  <wsdl:message name="ServArrangement_set_Place_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_PlaceResponse" />
  </wsdl:message>
  <wsdl:message name="ServArrangement_getAllArrangements_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllArrangements" />
  </wsdl:message>
  <wsdl:message name="ServArrangement_getAllArrangements_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllArrangementsResponse" />
  </wsdl:message>
  <wsdl:message name="ServArrangement_SaveArrangement_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveArrangement" />
  </wsdl:message>
  <wsdl:message name="ServArrangement_SaveArrangement_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveArrangementResponse" />
  </wsdl:message>
  <wsdl:message name="ServArrangement_DeleteArrangement_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArrangement" />
  </wsdl:message>
  <wsdl:message name="ServArrangement_DeleteArrangement_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArrangementResponse" />
  </wsdl:message>
  <wsdl:message name="ServArrangement_UpdateArrangement_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArrangement" />
  </wsdl:message>
  <wsdl:message name="ServArrangement_UpdateArrangement_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArrangementResponse" />
  </wsdl:message>
  <wsdl:message name="ServArrangement_getAll_InputMessage">
    <wsdl:part name="parameters" element="tns:getAll" />
  </wsdl:message>
  <wsdl:message name="ServArrangement_getAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllResponse" />
  </wsdl:message>
  <wsdl:portType name="ServArrangement">
    <wsdl:operation name="get_Place">
      <wsdl:input wsaw:Action="http://tempuri.org/ServArrangement/get_Place" message="tns:ServArrangement_get_Place_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServArrangement/get_PlaceResponse" message="tns:ServArrangement_get_Place_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Place">
      <wsdl:input wsaw:Action="http://tempuri.org/ServArrangement/set_Place" message="tns:ServArrangement_set_Place_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServArrangement/set_PlaceResponse" message="tns:ServArrangement_set_Place_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllArrangements">
      <wsdl:input wsaw:Action="http://tempuri.org/ServArrangement/getAllArrangements" message="tns:ServArrangement_getAllArrangements_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServArrangement/getAllArrangementsResponse" message="tns:ServArrangement_getAllArrangements_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveArrangement">
      <wsdl:input wsaw:Action="http://tempuri.org/ServArrangement/SaveArrangement" message="tns:ServArrangement_SaveArrangement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServArrangement/SaveArrangementResponse" message="tns:ServArrangement_SaveArrangement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteArrangement">
      <wsdl:input wsaw:Action="http://tempuri.org/ServArrangement/DeleteArrangement" message="tns:ServArrangement_DeleteArrangement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServArrangement/DeleteArrangementResponse" message="tns:ServArrangement_DeleteArrangement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArrangement">
      <wsdl:input wsaw:Action="http://tempuri.org/ServArrangement/UpdateArrangement" message="tns:ServArrangement_UpdateArrangement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServArrangement/UpdateArrangementResponse" message="tns:ServArrangement_UpdateArrangement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ServArrangement/getAll" message="tns:ServArrangement_getAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServArrangement/getAllResponse" message="tns:ServArrangement_getAll_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ServArrangement" type="tns:ServArrangement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_Place">
      <soap:operation soapAction="http://tempuri.org/ServArrangement/get_Place" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Place">
      <soap:operation soapAction="http://tempuri.org/ServArrangement/set_Place" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllArrangements">
      <soap:operation soapAction="http://tempuri.org/ServArrangement/getAllArrangements" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveArrangement">
      <soap:operation soapAction="http://tempuri.org/ServArrangement/SaveArrangement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteArrangement">
      <soap:operation soapAction="http://tempuri.org/ServArrangement/DeleteArrangement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateArrangement">
      <soap:operation soapAction="http://tempuri.org/ServArrangement/UpdateArrangement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAll">
      <soap:operation soapAction="http://tempuri.org/ServArrangement/getAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Arrangement">
    <wsdl:port name="BasicHttpBinding_ServArrangement" binding="tns:BasicHttpBinding_ServArrangement">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LibraryServer/Arrangement/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>