lab3-5/LibraryClient/LibraryClient/Service References/Country/Country.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Country" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Country/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Country/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SCountry_get_Country_Name_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Country_Name" />
  </wsdl:message>
  <wsdl:message name="SCountry_get_Country_Name_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Country_NameResponse" />
  </wsdl:message>
  <wsdl:message name="SCountry_set_Country_Name_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Country_Name" />
  </wsdl:message>
  <wsdl:message name="SCountry_set_Country_Name_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_Country_NameResponse" />
  </wsdl:message>
  <wsdl:message name="SCountry_get_Country_Continent_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Country_Continent" />
  </wsdl:message>
  <wsdl:message name="SCountry_get_Country_Continent_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Country_ContinentResponse" />
  </wsdl:message>
  <wsdl:message name="SCountry_set_Country_Continent_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Country_Continent" />
  </wsdl:message>
  <wsdl:message name="SCountry_set_Country_Continent_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_Country_ContinentResponse" />
  </wsdl:message>
  <wsdl:message name="SCountry_get_Country_Square_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Country_Square" />
  </wsdl:message>
  <wsdl:message name="SCountry_get_Country_Square_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Country_SquareResponse" />
  </wsdl:message>
  <wsdl:message name="SCountry_set_Country_Square_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Country_Square" />
  </wsdl:message>
  <wsdl:message name="SCountry_set_Country_Square_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_Country_SquareResponse" />
  </wsdl:message>
  <wsdl:message name="SCountry_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="SCountry_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="SCountry_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="SCountry_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SCountry_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="SCountry_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SCountry_toString_InputMessage">
    <wsdl:part name="parameters" element="tns:toString" />
  </wsdl:message>
  <wsdl:message name="SCountry_toString_OutputMessage">
    <wsdl:part name="parameters" element="tns:toStringResponse" />
  </wsdl:message>
  <wsdl:message name="SCountry_get_InputMessage">
    <wsdl:part name="parameters" element="tns:get" />
  </wsdl:message>
  <wsdl:message name="SCountry_get_OutputMessage">
    <wsdl:part name="parameters" element="tns:getResponse" />
  </wsdl:message>
  <wsdl:message name="SCountry_get_name_InputMessage">
    <wsdl:part name="parameters" element="tns:get_name" />
  </wsdl:message>
  <wsdl:message name="SCountry_get_name_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_nameResponse" />
  </wsdl:message>
  <wsdl:message name="SCountry_getByName_InputMessage">
    <wsdl:part name="parameters" element="tns:getByName" />
  </wsdl:message>
  <wsdl:message name="SCountry_getByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="SCountry">
    <wsdl:operation name="get_Country_Name">
      <wsdl:input wsaw:Action="http://tempuri.org/SCountry/get_Country_Name" message="tns:SCountry_get_Country_Name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SCountry/get_Country_NameResponse" message="tns:SCountry_get_Country_Name_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Country_Name">
      <wsdl:input wsaw:Action="http://tempuri.org/SCountry/set_Country_Name" message="tns:SCountry_set_Country_Name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SCountry/set_Country_NameResponse" message="tns:SCountry_set_Country_Name_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Country_Continent">
      <wsdl:input wsaw:Action="http://tempuri.org/SCountry/get_Country_Continent" message="tns:SCountry_get_Country_Continent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SCountry/get_Country_ContinentResponse" message="tns:SCountry_get_Country_Continent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Country_Continent">
      <wsdl:input wsaw:Action="http://tempuri.org/SCountry/set_Country_Continent" message="tns:SCountry_set_Country_Continent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SCountry/set_Country_ContinentResponse" message="tns:SCountry_set_Country_Continent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Country_Square">
      <wsdl:input wsaw:Action="http://tempuri.org/SCountry/get_Country_Square" message="tns:SCountry_get_Country_Square_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SCountry/get_Country_SquareResponse" message="tns:SCountry_get_Country_Square_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Country_Square">
      <wsdl:input wsaw:Action="http://tempuri.org/SCountry/set_Country_Square" message="tns:SCountry_set_Country_Square_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SCountry/set_Country_SquareResponse" message="tns:SCountry_set_Country_Square_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/SCountry/Insert" message="tns:SCountry_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SCountry/InsertResponse" message="tns:SCountry_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/SCountry/Update" message="tns:SCountry_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SCountry/UpdateResponse" message="tns:SCountry_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/SCountry/Delete" message="tns:SCountry_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SCountry/DeleteResponse" message="tns:SCountry_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="toString">
      <wsdl:input wsaw:Action="http://tempuri.org/SCountry/toString" message="tns:SCountry_toString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SCountry/toStringResponse" message="tns:SCountry_toString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input wsaw:Action="http://tempuri.org/SCountry/get" message="tns:SCountry_get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SCountry/getResponse" message="tns:SCountry_get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_name">
      <wsdl:input wsaw:Action="http://tempuri.org/SCountry/get_name" message="tns:SCountry_get_name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SCountry/get_nameResponse" message="tns:SCountry_get_name_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getByName">
      <wsdl:input wsaw:Action="http://tempuri.org/SCountry/getByName" message="tns:SCountry_getByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SCountry/getByNameResponse" message="tns:SCountry_getByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_SCountry" type="tns:SCountry">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_Country_Name">
      <soap:operation soapAction="http://tempuri.org/SCountry/get_Country_Name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Country_Name">
      <soap:operation soapAction="http://tempuri.org/SCountry/set_Country_Name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Country_Continent">
      <soap:operation soapAction="http://tempuri.org/SCountry/get_Country_Continent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Country_Continent">
      <soap:operation soapAction="http://tempuri.org/SCountry/set_Country_Continent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Country_Square">
      <soap:operation soapAction="http://tempuri.org/SCountry/get_Country_Square" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Country_Square">
      <soap:operation soapAction="http://tempuri.org/SCountry/set_Country_Square" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/SCountry/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/SCountry/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/SCountry/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toString">
      <soap:operation soapAction="http://tempuri.org/SCountry/toString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="http://tempuri.org/SCountry/get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_name">
      <soap:operation soapAction="http://tempuri.org/SCountry/get_name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByName">
      <soap:operation soapAction="http://tempuri.org/SCountry/getByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Country">
    <wsdl:port name="BasicHttpBinding_SCountry" binding="tns:BasicHttpBinding_SCountry">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Country/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>