lab3-5/LibraryClient/LibraryClient/Service References/Employee/Employee.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Employee" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Employee/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Employee/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SEmployee_get_Employee_Name_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Employee_Name" />
  </wsdl:message>
  <wsdl:message name="SEmployee_get_Employee_Name_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Employee_NameResponse" />
  </wsdl:message>
  <wsdl:message name="SEmployee_set_Employee_Name_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Employee_Name" />
  </wsdl:message>
  <wsdl:message name="SEmployee_set_Employee_Name_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_Employee_NameResponse" />
  </wsdl:message>
  <wsdl:message name="SEmployee_get_Employee_Factory_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Employee_Factory" />
  </wsdl:message>
  <wsdl:message name="SEmployee_get_Employee_Factory_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Employee_FactoryResponse" />
  </wsdl:message>
  <wsdl:message name="SEmployee_set_Employee_Factory_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Employee_Factory" />
  </wsdl:message>
  <wsdl:message name="SEmployee_set_Employee_Factory_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_Employee_FactoryResponse" />
  </wsdl:message>
  <wsdl:message name="SEmployee_get_Employee_Position_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Employee_Position" />
  </wsdl:message>
  <wsdl:message name="SEmployee_get_Employee_Position_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Employee_PositionResponse" />
  </wsdl:message>
  <wsdl:message name="SEmployee_set_Employee_Position_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Employee_Position" />
  </wsdl:message>
  <wsdl:message name="SEmployee_set_Employee_Position_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_Employee_PositionResponse" />
  </wsdl:message>
  <wsdl:message name="SEmployee_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="SEmployee_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="SEmployee_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="SEmployee_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SEmployee_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="SEmployee_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SEmployee_toString_InputMessage">
    <wsdl:part name="parameters" element="tns:toString" />
  </wsdl:message>
  <wsdl:message name="SEmployee_toString_OutputMessage">
    <wsdl:part name="parameters" element="tns:toStringResponse" />
  </wsdl:message>
  <wsdl:message name="SEmployee_get_InputMessage">
    <wsdl:part name="parameters" element="tns:get" />
  </wsdl:message>
  <wsdl:message name="SEmployee_get_OutputMessage">
    <wsdl:part name="parameters" element="tns:getResponse" />
  </wsdl:message>
  <wsdl:message name="SEmployee_getByName_InputMessage">
    <wsdl:part name="parameters" element="tns:getByName" />
  </wsdl:message>
  <wsdl:message name="SEmployee_getByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="SEmployee">
    <wsdl:operation name="get_Employee_Name">
      <wsdl:input wsaw:Action="http://tempuri.org/SEmployee/get_Employee_Name" message="tns:SEmployee_get_Employee_Name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SEmployee/get_Employee_NameResponse" message="tns:SEmployee_get_Employee_Name_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Employee_Name">
      <wsdl:input wsaw:Action="http://tempuri.org/SEmployee/set_Employee_Name" message="tns:SEmployee_set_Employee_Name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SEmployee/set_Employee_NameResponse" message="tns:SEmployee_set_Employee_Name_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Employee_Factory">
      <wsdl:input wsaw:Action="http://tempuri.org/SEmployee/get_Employee_Factory" message="tns:SEmployee_get_Employee_Factory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SEmployee/get_Employee_FactoryResponse" message="tns:SEmployee_get_Employee_Factory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Employee_Factory">
      <wsdl:input wsaw:Action="http://tempuri.org/SEmployee/set_Employee_Factory" message="tns:SEmployee_set_Employee_Factory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SEmployee/set_Employee_FactoryResponse" message="tns:SEmployee_set_Employee_Factory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Employee_Position">
      <wsdl:input wsaw:Action="http://tempuri.org/SEmployee/get_Employee_Position" message="tns:SEmployee_get_Employee_Position_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SEmployee/get_Employee_PositionResponse" message="tns:SEmployee_get_Employee_Position_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Employee_Position">
      <wsdl:input wsaw:Action="http://tempuri.org/SEmployee/set_Employee_Position" message="tns:SEmployee_set_Employee_Position_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SEmployee/set_Employee_PositionResponse" message="tns:SEmployee_set_Employee_Position_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/SEmployee/Insert" message="tns:SEmployee_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SEmployee/InsertResponse" message="tns:SEmployee_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/SEmployee/Update" message="tns:SEmployee_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SEmployee/UpdateResponse" message="tns:SEmployee_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/SEmployee/Delete" message="tns:SEmployee_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SEmployee/DeleteResponse" message="tns:SEmployee_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="toString">
      <wsdl:input wsaw:Action="http://tempuri.org/SEmployee/toString" message="tns:SEmployee_toString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SEmployee/toStringResponse" message="tns:SEmployee_toString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input wsaw:Action="http://tempuri.org/SEmployee/get" message="tns:SEmployee_get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SEmployee/getResponse" message="tns:SEmployee_get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getByName">
      <wsdl:input wsaw:Action="http://tempuri.org/SEmployee/getByName" message="tns:SEmployee_getByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SEmployee/getByNameResponse" message="tns:SEmployee_getByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_SEmployee" type="tns:SEmployee">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_Employee_Name">
      <soap:operation soapAction="http://tempuri.org/SEmployee/get_Employee_Name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Employee_Name">
      <soap:operation soapAction="http://tempuri.org/SEmployee/set_Employee_Name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Employee_Factory">
      <soap:operation soapAction="http://tempuri.org/SEmployee/get_Employee_Factory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Employee_Factory">
      <soap:operation soapAction="http://tempuri.org/SEmployee/set_Employee_Factory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Employee_Position">
      <soap:operation soapAction="http://tempuri.org/SEmployee/get_Employee_Position" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Employee_Position">
      <soap:operation soapAction="http://tempuri.org/SEmployee/set_Employee_Position" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/SEmployee/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/SEmployee/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/SEmployee/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toString">
      <soap:operation soapAction="http://tempuri.org/SEmployee/toString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="http://tempuri.org/SEmployee/get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByName">
      <soap:operation soapAction="http://tempuri.org/SEmployee/getByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Employee">
    <wsdl:port name="BasicHttpBinding_SEmployee" binding="tns:BasicHttpBinding_SEmployee">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Employee/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>