lab3-5/LibraryClient/LibraryClient/Service References/Product/Product.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Product" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Product/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Product/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SProduct_get_Product_Name_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Product_Name" />
  </wsdl:message>
  <wsdl:message name="SProduct_get_Product_Name_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Product_NameResponse" />
  </wsdl:message>
  <wsdl:message name="SProduct_set_Product_Name_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Product_Name" />
  </wsdl:message>
  <wsdl:message name="SProduct_set_Product_Name_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_Product_NameResponse" />
  </wsdl:message>
  <wsdl:message name="SProduct_get_Product_Cost_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Product_Cost" />
  </wsdl:message>
  <wsdl:message name="SProduct_get_Product_Cost_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Product_CostResponse" />
  </wsdl:message>
  <wsdl:message name="SProduct_set_Product_Cost_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Product_Cost" />
  </wsdl:message>
  <wsdl:message name="SProduct_set_Product_Cost_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_Product_CostResponse" />
  </wsdl:message>
  <wsdl:message name="SProduct_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="SProduct_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="SProduct_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="SProduct_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SProduct_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="SProduct_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SProduct_toString_InputMessage">
    <wsdl:part name="parameters" element="tns:toString" />
  </wsdl:message>
  <wsdl:message name="SProduct_toString_OutputMessage">
    <wsdl:part name="parameters" element="tns:toStringResponse" />
  </wsdl:message>
  <wsdl:message name="SProduct_get_InputMessage">
    <wsdl:part name="parameters" element="tns:get" />
  </wsdl:message>
  <wsdl:message name="SProduct_get_OutputMessage">
    <wsdl:part name="parameters" element="tns:getResponse" />
  </wsdl:message>
  <wsdl:message name="SProduct_getByName_InputMessage">
    <wsdl:part name="parameters" element="tns:getByName" />
  </wsdl:message>
  <wsdl:message name="SProduct_getByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="SProduct">
    <wsdl:operation name="get_Product_Name">
      <wsdl:input wsaw:Action="http://tempuri.org/SProduct/get_Product_Name" message="tns:SProduct_get_Product_Name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SProduct/get_Product_NameResponse" message="tns:SProduct_get_Product_Name_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Product_Name">
      <wsdl:input wsaw:Action="http://tempuri.org/SProduct/set_Product_Name" message="tns:SProduct_set_Product_Name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SProduct/set_Product_NameResponse" message="tns:SProduct_set_Product_Name_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Product_Cost">
      <wsdl:input wsaw:Action="http://tempuri.org/SProduct/get_Product_Cost" message="tns:SProduct_get_Product_Cost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SProduct/get_Product_CostResponse" message="tns:SProduct_get_Product_Cost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Product_Cost">
      <wsdl:input wsaw:Action="http://tempuri.org/SProduct/set_Product_Cost" message="tns:SProduct_set_Product_Cost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SProduct/set_Product_CostResponse" message="tns:SProduct_set_Product_Cost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/SProduct/Insert" message="tns:SProduct_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SProduct/InsertResponse" message="tns:SProduct_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/SProduct/Update" message="tns:SProduct_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SProduct/UpdateResponse" message="tns:SProduct_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/SProduct/Delete" message="tns:SProduct_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SProduct/DeleteResponse" message="tns:SProduct_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="toString">
      <wsdl:input wsaw:Action="http://tempuri.org/SProduct/toString" message="tns:SProduct_toString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SProduct/toStringResponse" message="tns:SProduct_toString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input wsaw:Action="http://tempuri.org/SProduct/get" message="tns:SProduct_get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SProduct/getResponse" message="tns:SProduct_get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getByName">
      <wsdl:input wsaw:Action="http://tempuri.org/SProduct/getByName" message="tns:SProduct_getByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SProduct/getByNameResponse" message="tns:SProduct_getByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_SProduct" type="tns:SProduct">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_Product_Name">
      <soap:operation soapAction="http://tempuri.org/SProduct/get_Product_Name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Product_Name">
      <soap:operation soapAction="http://tempuri.org/SProduct/set_Product_Name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Product_Cost">
      <soap:operation soapAction="http://tempuri.org/SProduct/get_Product_Cost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Product_Cost">
      <soap:operation soapAction="http://tempuri.org/SProduct/set_Product_Cost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/SProduct/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/SProduct/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/SProduct/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toString">
      <soap:operation soapAction="http://tempuri.org/SProduct/toString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="http://tempuri.org/SProduct/get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByName">
      <soap:operation soapAction="http://tempuri.org/SProduct/getByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Product">
    <wsdl:port name="BasicHttpBinding_SProduct" binding="tns:BasicHttpBinding_SProduct">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Product/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>