lab3-5/LibraryClient/LibraryClient/Service References/Shop/Shop.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Shop" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Shop/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Shop/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SShop_get_Shop_Name_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Shop_Name" />
  </wsdl:message>
  <wsdl:message name="SShop_get_Shop_Name_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Shop_NameResponse" />
  </wsdl:message>
  <wsdl:message name="SShop_set_Shop_Name_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Shop_Name" />
  </wsdl:message>
  <wsdl:message name="SShop_set_Shop_Name_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_Shop_NameResponse" />
  </wsdl:message>
  <wsdl:message name="SShop_get_Shop_Profile_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Shop_Profile" />
  </wsdl:message>
  <wsdl:message name="SShop_get_Shop_Profile_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Shop_ProfileResponse" />
  </wsdl:message>
  <wsdl:message name="SShop_set_Shop_Profile_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Shop_Profile" />
  </wsdl:message>
  <wsdl:message name="SShop_set_Shop_Profile_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_Shop_ProfileResponse" />
  </wsdl:message>
  <wsdl:message name="SShop_get_Shop_Address_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Shop_Address" />
  </wsdl:message>
  <wsdl:message name="SShop_get_Shop_Address_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Shop_AddressResponse" />
  </wsdl:message>
  <wsdl:message name="SShop_set_Shop_Address_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Shop_Address" />
  </wsdl:message>
  <wsdl:message name="SShop_set_Shop_Address_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_Shop_AddressResponse" />
  </wsdl:message>
  <wsdl:message name="SShop_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="SShop_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="SShop_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="SShop_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SShop_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="SShop_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SShop_toString_InputMessage">
    <wsdl:part name="parameters" element="tns:toString" />
  </wsdl:message>
  <wsdl:message name="SShop_toString_OutputMessage">
    <wsdl:part name="parameters" element="tns:toStringResponse" />
  </wsdl:message>
  <wsdl:message name="SShop_get_InputMessage">
    <wsdl:part name="parameters" element="tns:get" />
  </wsdl:message>
  <wsdl:message name="SShop_get_OutputMessage">
    <wsdl:part name="parameters" element="tns:getResponse" />
  </wsdl:message>
  <wsdl:message name="SShop_getByName_InputMessage">
    <wsdl:part name="parameters" element="tns:getByName" />
  </wsdl:message>
  <wsdl:message name="SShop_getByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="SShop">
    <wsdl:operation name="get_Shop_Name">
      <wsdl:input wsaw:Action="http://tempuri.org/SShop/get_Shop_Name" message="tns:SShop_get_Shop_Name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SShop/get_Shop_NameResponse" message="tns:SShop_get_Shop_Name_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Shop_Name">
      <wsdl:input wsaw:Action="http://tempuri.org/SShop/set_Shop_Name" message="tns:SShop_set_Shop_Name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SShop/set_Shop_NameResponse" message="tns:SShop_set_Shop_Name_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Shop_Profile">
      <wsdl:input wsaw:Action="http://tempuri.org/SShop/get_Shop_Profile" message="tns:SShop_get_Shop_Profile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SShop/get_Shop_ProfileResponse" message="tns:SShop_get_Shop_Profile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Shop_Profile">
      <wsdl:input wsaw:Action="http://tempuri.org/SShop/set_Shop_Profile" message="tns:SShop_set_Shop_Profile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SShop/set_Shop_ProfileResponse" message="tns:SShop_set_Shop_Profile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Shop_Address">
      <wsdl:input wsaw:Action="http://tempuri.org/SShop/get_Shop_Address" message="tns:SShop_get_Shop_Address_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SShop/get_Shop_AddressResponse" message="tns:SShop_get_Shop_Address_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Shop_Address">
      <wsdl:input wsaw:Action="http://tempuri.org/SShop/set_Shop_Address" message="tns:SShop_set_Shop_Address_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SShop/set_Shop_AddressResponse" message="tns:SShop_set_Shop_Address_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/SShop/Insert" message="tns:SShop_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SShop/InsertResponse" message="tns:SShop_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/SShop/Update" message="tns:SShop_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SShop/UpdateResponse" message="tns:SShop_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/SShop/Delete" message="tns:SShop_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SShop/DeleteResponse" message="tns:SShop_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="toString">
      <wsdl:input wsaw:Action="http://tempuri.org/SShop/toString" message="tns:SShop_toString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SShop/toStringResponse" message="tns:SShop_toString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input wsaw:Action="http://tempuri.org/SShop/get" message="tns:SShop_get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SShop/getResponse" message="tns:SShop_get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getByName">
      <wsdl:input wsaw:Action="http://tempuri.org/SShop/getByName" message="tns:SShop_getByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SShop/getByNameResponse" message="tns:SShop_getByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_SShop" type="tns:SShop">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_Shop_Name">
      <soap:operation soapAction="http://tempuri.org/SShop/get_Shop_Name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Shop_Name">
      <soap:operation soapAction="http://tempuri.org/SShop/set_Shop_Name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Shop_Profile">
      <soap:operation soapAction="http://tempuri.org/SShop/get_Shop_Profile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Shop_Profile">
      <soap:operation soapAction="http://tempuri.org/SShop/set_Shop_Profile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Shop_Address">
      <soap:operation soapAction="http://tempuri.org/SShop/get_Shop_Address" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Shop_Address">
      <soap:operation soapAction="http://tempuri.org/SShop/set_Shop_Address" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/SShop/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/SShop/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/SShop/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toString">
      <soap:operation soapAction="http://tempuri.org/SShop/toString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="http://tempuri.org/SShop/get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByName">
      <soap:operation soapAction="http://tempuri.org/SShop/getByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Shop">
    <wsdl:port name="BasicHttpBinding_SShop" binding="tns:BasicHttpBinding_SShop">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Shop/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>