lab3-5/LibraryClient/LibraryClient/Service References/Sup_Journal/Sup_Journal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Sup_Journal" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Sup_Journal/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Sup_Journal/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SSup_Journal_get_Sup_Journal_Product_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Sup_Journal_Product" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_get_Sup_Journal_Product_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Sup_Journal_ProductResponse" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_set_Sup_Journal_Product_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Sup_Journal_Product" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_set_Sup_Journal_Product_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_Sup_Journal_ProductResponse" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_get_Sup_Journal_Shop_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Sup_Journal_Shop" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_get_Sup_Journal_Shop_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Sup_Journal_ShopResponse" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_set_Sup_Journal_Shop_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Sup_Journal_Shop" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_set_Sup_Journal_Shop_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_Sup_Journal_ShopResponse" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_get_Sup_Journal_Date_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Sup_Journal_Date" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_get_Sup_Journal_Date_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Sup_Journal_DateResponse" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_set_Sup_Journal_Date_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Sup_Journal_Date" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_set_Sup_Journal_Date_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_Sup_Journal_DateResponse" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_toString_InputMessage">
    <wsdl:part name="parameters" element="tns:toString" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_toString_OutputMessage">
    <wsdl:part name="parameters" element="tns:toStringResponse" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_get_InputMessage">
    <wsdl:part name="parameters" element="tns:get" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_get_OutputMessage">
    <wsdl:part name="parameters" element="tns:getResponse" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_getByName_InputMessage">
    <wsdl:part name="parameters" element="tns:getByName" />
  </wsdl:message>
  <wsdl:message name="SSup_Journal_getByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="SSup_Journal">
    <wsdl:operation name="get_Sup_Journal_Product">
      <wsdl:input wsaw:Action="http://tempuri.org/SSup_Journal/get_Sup_Journal_Product" message="tns:SSup_Journal_get_Sup_Journal_Product_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SSup_Journal/get_Sup_Journal_ProductResponse" message="tns:SSup_Journal_get_Sup_Journal_Product_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Sup_Journal_Product">
      <wsdl:input wsaw:Action="http://tempuri.org/SSup_Journal/set_Sup_Journal_Product" message="tns:SSup_Journal_set_Sup_Journal_Product_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SSup_Journal/set_Sup_Journal_ProductResponse" message="tns:SSup_Journal_set_Sup_Journal_Product_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Sup_Journal_Shop">
      <wsdl:input wsaw:Action="http://tempuri.org/SSup_Journal/get_Sup_Journal_Shop" message="tns:SSup_Journal_get_Sup_Journal_Shop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SSup_Journal/get_Sup_Journal_ShopResponse" message="tns:SSup_Journal_get_Sup_Journal_Shop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Sup_Journal_Shop">
      <wsdl:input wsaw:Action="http://tempuri.org/SSup_Journal/set_Sup_Journal_Shop" message="tns:SSup_Journal_set_Sup_Journal_Shop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SSup_Journal/set_Sup_Journal_ShopResponse" message="tns:SSup_Journal_set_Sup_Journal_Shop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Sup_Journal_Date">
      <wsdl:input wsaw:Action="http://tempuri.org/SSup_Journal/get_Sup_Journal_Date" message="tns:SSup_Journal_get_Sup_Journal_Date_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SSup_Journal/get_Sup_Journal_DateResponse" message="tns:SSup_Journal_get_Sup_Journal_Date_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Sup_Journal_Date">
      <wsdl:input wsaw:Action="http://tempuri.org/SSup_Journal/set_Sup_Journal_Date" message="tns:SSup_Journal_set_Sup_Journal_Date_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SSup_Journal/set_Sup_Journal_DateResponse" message="tns:SSup_Journal_set_Sup_Journal_Date_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/SSup_Journal/Insert" message="tns:SSup_Journal_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SSup_Journal/InsertResponse" message="tns:SSup_Journal_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/SSup_Journal/Update" message="tns:SSup_Journal_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SSup_Journal/UpdateResponse" message="tns:SSup_Journal_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/SSup_Journal/Delete" message="tns:SSup_Journal_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SSup_Journal/DeleteResponse" message="tns:SSup_Journal_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="toString">
      <wsdl:input wsaw:Action="http://tempuri.org/SSup_Journal/toString" message="tns:SSup_Journal_toString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SSup_Journal/toStringResponse" message="tns:SSup_Journal_toString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:input wsaw:Action="http://tempuri.org/SSup_Journal/get" message="tns:SSup_Journal_get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SSup_Journal/getResponse" message="tns:SSup_Journal_get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getByName">
      <wsdl:input wsaw:Action="http://tempuri.org/SSup_Journal/getByName" message="tns:SSup_Journal_getByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SSup_Journal/getByNameResponse" message="tns:SSup_Journal_getByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_SSup_Journal" type="tns:SSup_Journal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_Sup_Journal_Product">
      <soap:operation soapAction="http://tempuri.org/SSup_Journal/get_Sup_Journal_Product" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Sup_Journal_Product">
      <soap:operation soapAction="http://tempuri.org/SSup_Journal/set_Sup_Journal_Product" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Sup_Journal_Shop">
      <soap:operation soapAction="http://tempuri.org/SSup_Journal/get_Sup_Journal_Shop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Sup_Journal_Shop">
      <soap:operation soapAction="http://tempuri.org/SSup_Journal/set_Sup_Journal_Shop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Sup_Journal_Date">
      <soap:operation soapAction="http://tempuri.org/SSup_Journal/get_Sup_Journal_Date" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Sup_Journal_Date">
      <soap:operation soapAction="http://tempuri.org/SSup_Journal/set_Sup_Journal_Date" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/SSup_Journal/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/SSup_Journal/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/SSup_Journal/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="toString">
      <soap:operation soapAction="http://tempuri.org/SSup_Journal/toString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get">
      <soap:operation soapAction="http://tempuri.org/SSup_Journal/get" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getByName">
      <soap:operation soapAction="http://tempuri.org/SSup_Journal/getByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Sup_Journal">
    <wsdl:port name="BasicHttpBinding_SSup_Journal" binding="tns:BasicHttpBinding_SSup_Journal">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary1/Sup_Journal/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>