lab3-5/LibraryClient/LibraryClient/Service References/Author/Author.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Author" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LibraryServer/Author/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LibraryServer/Author/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServAuthor_get_MyHuman_InputMessage">
    <wsdl:part name="parameters" element="tns:get_MyHuman" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_get_MyHuman_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_MyHumanResponse" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_set_MyHuman_InputMessage">
    <wsdl:part name="parameters" element="tns:set_MyHuman" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_set_MyHuman_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_MyHumanResponse" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_get_Date_of_birdth_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Date_of_birdth" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_get_Date_of_birdth_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_Date_of_birdthResponse" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_set_Date_of_birdth_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Date_of_birdth" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_set_Date_of_birdth_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_Date_of_birdthResponse" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_get_Information_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Information" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_get_Information_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_InformationResponse" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_set_Information_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Information" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_set_Information_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_InformationResponse" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_getAllAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllAuthors" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_getAllAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_SaveAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAuthor" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_SaveAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_DeleteAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAuthor" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_DeleteAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_UpdateAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAuthor" />
  </wsdl:message>
  <wsdl:message name="ServAuthor_UpdateAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAuthorResponse" />
  </wsdl:message>
  <wsdl:portType name="ServAuthor">
    <wsdl:operation name="get_MyHuman">
      <wsdl:input wsaw:Action="http://tempuri.org/ServAuthor/get_MyHuman" message="tns:ServAuthor_get_MyHuman_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServAuthor/get_MyHumanResponse" message="tns:ServAuthor_get_MyHuman_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_MyHuman">
      <wsdl:input wsaw:Action="http://tempuri.org/ServAuthor/set_MyHuman" message="tns:ServAuthor_set_MyHuman_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServAuthor/set_MyHumanResponse" message="tns:ServAuthor_set_MyHuman_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Date_of_birdth">
      <wsdl:input wsaw:Action="http://tempuri.org/ServAuthor/get_Date_of_birdth" message="tns:ServAuthor_get_Date_of_birdth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServAuthor/get_Date_of_birdthResponse" message="tns:ServAuthor_get_Date_of_birdth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Date_of_birdth">
      <wsdl:input wsaw:Action="http://tempuri.org/ServAuthor/set_Date_of_birdth" message="tns:ServAuthor_set_Date_of_birdth_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServAuthor/set_Date_of_birdthResponse" message="tns:ServAuthor_set_Date_of_birdth_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Information">
      <wsdl:input wsaw:Action="http://tempuri.org/ServAuthor/get_Information" message="tns:ServAuthor_get_Information_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServAuthor/get_InformationResponse" message="tns:ServAuthor_get_Information_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Information">
      <wsdl:input wsaw:Action="http://tempuri.org/ServAuthor/set_Information" message="tns:ServAuthor_set_Information_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServAuthor/set_InformationResponse" message="tns:ServAuthor_set_Information_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllAuthors">
      <wsdl:input wsaw:Action="http://tempuri.org/ServAuthor/getAllAuthors" message="tns:ServAuthor_getAllAuthors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServAuthor/getAllAuthorsResponse" message="tns:ServAuthor_getAllAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/ServAuthor/SaveAuthor" message="tns:ServAuthor_SaveAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServAuthor/SaveAuthorResponse" message="tns:ServAuthor_SaveAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/ServAuthor/DeleteAuthor" message="tns:ServAuthor_DeleteAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServAuthor/DeleteAuthorResponse" message="tns:ServAuthor_DeleteAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthor">
      <wsdl:input wsaw:Action="http://tempuri.org/ServAuthor/UpdateAuthor" message="tns:ServAuthor_UpdateAuthor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServAuthor/UpdateAuthorResponse" message="tns:ServAuthor_UpdateAuthor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ServAuthor" type="tns:ServAuthor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_MyHuman">
      <soap:operation soapAction="http://tempuri.org/ServAuthor/get_MyHuman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_MyHuman">
      <soap:operation soapAction="http://tempuri.org/ServAuthor/set_MyHuman" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Date_of_birdth">
      <soap:operation soapAction="http://tempuri.org/ServAuthor/get_Date_of_birdth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Date_of_birdth">
      <soap:operation soapAction="http://tempuri.org/ServAuthor/set_Date_of_birdth" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Information">
      <soap:operation soapAction="http://tempuri.org/ServAuthor/get_Information" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Information">
      <soap:operation soapAction="http://tempuri.org/ServAuthor/set_Information" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAuthors">
      <soap:operation soapAction="http://tempuri.org/ServAuthor/getAllAuthors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAuthor">
      <soap:operation soapAction="http://tempuri.org/ServAuthor/SaveAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAuthor">
      <soap:operation soapAction="http://tempuri.org/ServAuthor/DeleteAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAuthor">
      <soap:operation soapAction="http://tempuri.org/ServAuthor/UpdateAuthor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Author">
    <wsdl:port name="BasicHttpBinding_ServAuthor" binding="tns:BasicHttpBinding_ServAuthor">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LibraryServer/Author/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>