lab3-5/LibraryClient/LibraryClient/Service References/Status/Status.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Status" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LibraryServer/Status/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LibraryServer/Status/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServStatus_get_Name_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Name" />
  </wsdl:message>
  <wsdl:message name="ServStatus_get_Name_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_NameResponse" />
  </wsdl:message>
  <wsdl:message name="ServStatus_set_Name_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Name" />
  </wsdl:message>
  <wsdl:message name="ServStatus_set_Name_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_NameResponse" />
  </wsdl:message>
  <wsdl:message name="ServStatus_get_Discription_InputMessage">
    <wsdl:part name="parameters" element="tns:get_Discription" />
  </wsdl:message>
  <wsdl:message name="ServStatus_get_Discription_OutputMessage">
    <wsdl:part name="parameters" element="tns:get_DiscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ServStatus_set_Discription_InputMessage">
    <wsdl:part name="parameters" element="tns:set_Discription" />
  </wsdl:message>
  <wsdl:message name="ServStatus_set_Discription_OutputMessage">
    <wsdl:part name="parameters" element="tns:set_DiscriptionResponse" />
  </wsdl:message>
  <wsdl:message name="ServStatus_getAllStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllStatuses" />
  </wsdl:message>
  <wsdl:message name="ServStatus_getAllStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="ServStatus_SaveStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveStatus" />
  </wsdl:message>
  <wsdl:message name="ServStatus_SaveStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ServStatus_DeleteStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStatus" />
  </wsdl:message>
  <wsdl:message name="ServStatus_DeleteStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ServStatus_UpdateStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatus" />
  </wsdl:message>
  <wsdl:message name="ServStatus_UpdateStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="ServStatus">
    <wsdl:operation name="get_Name">
      <wsdl:input wsaw:Action="http://tempuri.org/ServStatus/get_Name" message="tns:ServStatus_get_Name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServStatus/get_NameResponse" message="tns:ServStatus_get_Name_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Name">
      <wsdl:input wsaw:Action="http://tempuri.org/ServStatus/set_Name" message="tns:ServStatus_set_Name_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServStatus/set_NameResponse" message="tns:ServStatus_set_Name_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="get_Discription">
      <wsdl:input wsaw:Action="http://tempuri.org/ServStatus/get_Discription" message="tns:ServStatus_get_Discription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServStatus/get_DiscriptionResponse" message="tns:ServStatus_get_Discription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="set_Discription">
      <wsdl:input wsaw:Action="http://tempuri.org/ServStatus/set_Discription" message="tns:ServStatus_set_Discription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServStatus/set_DiscriptionResponse" message="tns:ServStatus_set_Discription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllStatuses">
      <wsdl:input wsaw:Action="http://tempuri.org/ServStatus/getAllStatuses" message="tns:ServStatus_getAllStatuses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServStatus/getAllStatusesResponse" message="tns:ServStatus_getAllStatuses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ServStatus/SaveStatus" message="tns:ServStatus_SaveStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServStatus/SaveStatusResponse" message="tns:ServStatus_SaveStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ServStatus/DeleteStatus" message="tns:ServStatus_DeleteStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServStatus/DeleteStatusResponse" message="tns:ServStatus_DeleteStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ServStatus/UpdateStatus" message="tns:ServStatus_UpdateStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ServStatus/UpdateStatusResponse" message="tns:ServStatus_UpdateStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ServStatus" type="tns:ServStatus">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="get_Name">
      <soap:operation soapAction="http://tempuri.org/ServStatus/get_Name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Name">
      <soap:operation soapAction="http://tempuri.org/ServStatus/set_Name" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Discription">
      <soap:operation soapAction="http://tempuri.org/ServStatus/get_Discription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Discription">
      <soap:operation soapAction="http://tempuri.org/ServStatus/set_Discription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllStatuses">
      <soap:operation soapAction="http://tempuri.org/ServStatus/getAllStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveStatus">
      <soap:operation soapAction="http://tempuri.org/ServStatus/SaveStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStatus">
      <soap:operation soapAction="http://tempuri.org/ServStatus/DeleteStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <soap:operation soapAction="http://tempuri.org/ServStatus/UpdateStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Status">
    <wsdl:port name="BasicHttpBinding_ServStatus" binding="tns:BasicHttpBinding_ServStatus">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/LibraryServer/Status/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>